@font-face {
    font-family: pixel;
    src: url(../fonts/Pixeled.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: pixel;
}


body {
    background-color: rgb(124, 173, 114);
}

div {
    position: absolute;
    width: 50vw;
    left: 25vw;
    top: 25vw;
    
}

.tekst {
    font-family: pixel;
    text-align: center;
}



img {
    width: 50vw;
    position: absolute;
}

button {
    font-size: 1.2vw;
    border-color: black;
    border-style: solid;
    border-width: 0.6vw;
    background-color: greenyellow;
    position: absolute;
}



#lamp_knop {
    width: 8.5vw;
    height: 4.5vw;
    left: 41.5vw;
    top: 6.5vw;
    
}

#kast {
    width: 17vw;
    height: 14.5vw;
    top: 35.5vw;
    left: 0;
}

#karel {
    width: 4.5vw;
    height: 8.5vw;
    top: 41.5vw;
    left: 45vw;
}

#spiegel {
    width: 11vw;
    height: 11vw;
    top: 1.5vw;
    left: 22.5vw;
}

#kast_groot {
    display: none;
}

#terug {
    width: 4.5vw;
    height: 4.5vw;
    top: 69vw;
    left: 26.5vw;
    display: none;
}


#kast_groot p {
    position: absolute;
    font-size: 1.5vw;
}

#kast_groot p:first-of-type {
    top: 6vw;
    left: 14vw;
}

#kast_groot p:nth-last-of-type(2) {
    top: 6vw;
    left: 33vw;
}

#kast_groot p:last-of-type {
    top: 29vw;
    left: 33vw;
}

#kast_groot button {
    width: 8vw;
    height: 4vw;
}

#monster {
    top: 16vw;
    left: 15vw;
}

#water {
    top: 16vw;
    left: 34vw;
}

#kaas {
    top: 39vw;
    left: 34vw;
}

#money {
    position: absolute;
    top: 25vw;
    left: 80vw;
    font-size: 1.6vw;
}

#bars {
    position: absolute;
    left: 2vw;
    top: 25vw;
    width: 15vw;
    font-size: 1.5vw;
}

#karel_groot {
    display: none;
}

#karel_groot button {
    width: 13vw;
    left: 32vw;
}

#knop_karel {
    width: 6vw;
    height: 6.5vw;
    top: 33vw;
    left: 10vw;
}

#music_small {
    display: none;
}

#song1 {
    top: 17vw;
}

#song2 {
    top: 25vw;
}

#song3 {
    top: 33vw;
}

.karel_aan {
    display: none;
}


#spiegel_groot {
    display: none;
}

#spiegel_groot button {
    width: 16vw;
    height: 4vw;
    top: 44.5vw;
    left: 33vw;
}

#spiegel_groot p {
    position: absolute;
    font-size: 1vw;
    top: 43.5vw;
    left: 17.5vw;
    color: white;
}

#game_over {
    display: none;
    position: absolute;
    top: 25vw;
}

#game_over p {
    color: yellowgreen;
    font-size: 5vw;
    position: absolute;
    left: 3.5vw;
}

#game_over button {
    width: 15vw;
    height: 5vw;
    top: 20vw;
    left: 17.5vw;
}

.rood {
    color: red;
}

